<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toko Online</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="container text-center">
        <h1 class="my-4">Selamat Datang Di Toko Online</h1>
        <div>
            <a href="/register" class="btn btn-primary mx-2">Daftar</a>
            <a href="/login" class="btn btn-secondary mx-2">Masuk</a>
        </div>
        <section class="container my-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/img/puma.jpg" class="card-img-top" alt="Product 1">
                        <div class="card-body">
                            <h5 class="card-title">Puma</h5>
                            <p class="card-text">Sepatu Puma x One Piece Gear 5.</p>
                            <a href="/login" class="btn btn-primary">Masuk untuk membeli</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/img/adidas.jpg" class="card-img-top" alt="Product 2">
                        <div class="card-body">
                            <h5 class="card-title">Adidas</h5>
                            <p class="card-text">Sepatu Adidas Samba Inter Miami CF.</p>
                            <a href="/login" class="btn btn-primary">Masuk untuk membeli</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="img/nike.jpg" class="card-img-top" alt="Product 3">
                        <div class="card-body">
                            <h5 class="card-title">Nike</h5>
                            <p class="card-text">Sepatu Nike Air Jordan 1.</p>
                            <a href="/login" class="btn btn-primary">Masuk untuk membeli</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
